* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  background-color: #f0f0f0;
  height: 100vh;
}


.sidebar {
  background-color: #000;
  color: white;
  width: 250px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h1 {
  font-size: 22px;
  margin-bottom: 40px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  margin: 15px 0;
  display: block;
  font-size: 16px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  font-weight: bold;
  background-color: #222;
  padding: 5px 10px;
  border-radius: 5px;
}


.main-section {
  margin-left: 250px;
  padding: 40px;
  flex: 1;
}

.intro-section {
  background-color: #1f3189;
  color: white;
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}

.image-container img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: white;
}

.text-container {
  margin-left: 40px;
  max-width: 700px;
}

.text-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-container h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.text-container p {
  font-size: 16px;
  line-height: 1.6;
}


.buttons {
  text-align: center;
  margin-top: 40px;
}

.resume-button {
  background-color: #1f3189;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block;
}

.social-icons a {
  color: black;
  font-size: 28px;
  margin: 0 10px;
}
